<html>
  <head>
    <% include ./header.ejs %>
  </head>
  <body>
      <% include ./nav.ejs %>
      <div class="col-md-12">
        <h1>Hello GraphDB!!</h1>
        <h2>Now Connected to <%= use_db %> !!!</h2>
      </div>
  </body>
</html>